<h1> From All Apartment Sales </h1>
<ul>
<% @items.each do |item| %>
    <li>
      <%= link_to item.item_name, item_path(item) %> -
      <%= link_to "See Item Offers", item_offers_path(item) %>
      <%= link_to "Make an Offer", new_item_offer_path(item) %>
    </li>
  <% end %>
</ul>

