<h1><%=offers_header(@item)%></h1>
<ul>
<% @offers.each do |offer| %>
    <li>
    <%= num_to_currency(offer.offer_price) %> made on <%=offer.created_at.to_s(:custom_datetime) %>
    </li>
   
  <% end %>
</ul>